header{
    background-image: url(../images/Eat-In_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#onImage{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
#extraText {
    font-family: 'Caveat Brush', cursive;
    font-size: 70px;

}

#subHeaders {
    padding-top: 25px;
    font-family: 'Caveat Brush', cursive;
    font-size: 45px;
}
#subBtn {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;

}
#ingredInput{
    padding-left: 2px;
    padding-right: 2px;

}

#recipeResults{
    border-radius: 15px;
  border: 1px solid #e0e0e0;
}
.recName {
    font-family: 'Caveat Brush', cursive;
    font-size: 2rem;
    margin-top:20px;
}

.image{
    border: 1px solid black;

}

.detailsList{
    margin-bottom: 5px;
}

.cookTitle{
    font-weight: bold;
}

.caloriesTitle{
    font-weight: bold;
}

.ingredientsHead{
    font-size:1.1rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ingredientsList{
    margin-top:5px;
    
}
ol {
    list-style: none; /* Remove default bullets */
  }
ol li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color:#cddc39; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }