
header{
    background-image: url(../images/Eat-Out_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    background-position: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#onImage{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

}

#onImage {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

#breadcrumbNav {
  padding-left: 25px;
}

#extraText {
  font-family: 'Caveat Brush', cursive;
  font-size: 70px;

}

#subHeaders {
  padding-top: 25px;
  font-family: 'Caveat Brush', cursive;
  font-size: 45px;
}

#subBtn {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;

}

#ingredInput {
  padding-left: 2px;
  padding-right: 2px;

}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 400px;
  width: 750px;
  margin: auto;
}

.restaurant-name{
  font-family: 'Caveat Brush', cursive;
  font-size: 35px;
  padding-top: 30px;
  margin-bottom: 10px;

}
.numberSpacing{
/* float: right;*/
margin-left: 70px;
color: #afb42b;
}
